.post {
  position: relative;
  border: 1px solid #ccc;
  margin: 15px 0; }
  .post audio {
    width: 100%;
    max-width: 100%; }
  .post__user, .post__date {
    word-wrap: break-word; }
  .post__upvotes {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: #ccc; }
    .post__upvotes .up, .post__upvotes .down {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      height: 50%;
      background: #fff;
      border-left: 1px solid #ccc; }
      .post__upvotes .up:not(:first-of-type), .post__upvotes .down:not(:first-of-type) {
        border-top: 1px solid #ccc; }
      .post__upvotes .up:hover, .post__upvotes .down:hover {
        cursor: pointer;
        background: #ccc; }
    .post__upvotes .up .fa {
      color: #89C149; }
    .post__upvotes .up:hover .fa {
      color: #608733; }
    .post__upvotes .down .fa {
      color: #E06D6D; }
    .post__upvotes .down:hover .fa {
      color: #E06D6D; }
.spinner-holder {
  text-align: center;
  margin: 50px 0; }
.navigation .logo:hover {
  cursor: pointer; }

.navigation .close-container {
  text-align: right; }

.navigation a:hover {
  text-decoration: none; }
.main-controls .visualizer {
  width: 100%;
  max-height: 100px; }

.main-controls .record, .main-controls .stop {
  width: 50%; }
.clip {
  margin-bottom: 15px; }
  .clip:not(first-of-type) {
    margin-top: 30px; }
  .clip audio {
    width: 100%;
    height: 34px;
    margin-bottom: 20px; }
  .clip .button-wrapper {
    text-align: right; }
.auth-container {
  max-width: 500px;
  margin: 30px auto; }
  .auth-container .card {
    padding: 30px; }
  .auth-container h2 {
    text-align: center; }
  .auth-container .input-field {
    width: 100% !important; }
  .auth-container .submit-form {
    width: 100%;
    margin-top: 20px; }
  .auth-container .error-message {
    margin: 30px 0;
    padding: 15px;
    text-align: center;
    background: #FF5252;
    color: #fff; }
