.auth-container
  max-width: 500px
  margin: 30px auto
  .card
    padding: 30px
  h2
    text-align: center
  .input-field
    width: 100% !important
    &:not(:first-of-type)
      margin-bottom: 20px !important
  .submit-form
    width: 100%
