.post
  position: relative
  border: 1px solid #ccc
  margin: 15px 0
  overflow: auto
  &__left, &__right
    float: left
  &__left
    width: 10%
    text-align: center
  &__right
    width: 90%
  .upvote, .downvote
    &:hover
      cursor: pointer
  .upvote
    &.active
      color: #FF8B60 !important
  .downvote
    &.active
      color: #9494FF !important
  .chip
    margin: 0 auto !important
  audio
    width: 100%
    max-width: 100%
